.footer {
  background-color: #2f303a;
  margin-top: 60px;
  height: 603px;
  @media screen and (min-width: 768px) {
    height: 463px;
  }
  @media screen and (min-width: 1200px) {
    height: 252px;
  }

  .flex-container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  ul {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  .logo {
    display: block;
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
}

.footer-adress {
  padding-top: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 61px;
    display: inline-block;
  }

  .list {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    margin-top: 20px;
  }
  .link {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover,
  .link:focus {
    color: $accent-color;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $white-text;
  }
  .item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.form-footer {
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 72px;
    margin-left: 94px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text;
  }
  .input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #2f303a;
    height: 50px;
    color: $white-text;
    width: 450px;
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }

  .email {
    margin-top: 20px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    margin-top: 110px;
    margin-left: 12px;
  }

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  width: 200px;
  height: 50px;
  border: none;

  color: $white-text;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  .icon-telegram {
    margin-left: 10px;
  }
}

.join {
  @media screen and (min-width: 768px) {
    padding-top: 72px;
    margin-left: 69px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 65px;
    margin-left: 165px;
  }
  text-align: center;
  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text;
    margin-bottom: 20px;
  }
  .list {
    display: flex;
    justify-content: center;
  }
  .item:not(:last-child) {
    margin-right: 10px;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    margin-top: 20px;
  }
  .link:hover,
  .link:focus {
    color: $white-text;
    background-color: $accent-color;
  }
  .social {
    fill: $white-text;
  }
}
