.work {
  margin-top: 94px;
  .container {
    padding-bottom: 94px;
  }
  .item:not(:last-child) {
    margin-right: 30px;
  }
  .list {
    list-style: none;
    display: flex;
  }
  .text {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    background: rgba(47, 48, 58, 0.8);
    color: $white-text;
  }
  .apps {
    position: relative;
  }
  .title {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 0px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
